::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: cyan;
}
body{
  background-color: black;
  -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
  zoom: 0.9; /* Other non-webkit browsers */
  zoom: 90%; /* Webkit browsers */
}
h1{
  padding-top: 2%;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
p{
  margin: 0;
}
form{
  margin-top: 2%;
}
label{
  font-weight: bold;
}
.formbox{
  background-color: cyan;
  padding-left: 7%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 4%;
  width: 80%;
  border-radius: 15px;
}
.form-control{
  border: 1px solid black;
}
.messages{
  margin-top: 2%;
  background-color: black!important;
  text-align: center;
  width: 100%;
}
#SubmitButton{
  background-color: black;
  color: white;
  border: 1px solid white;
}
#errormsg{
  color: red;
  border-radius: 5px;
  width: 100%;
}
